* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

*::after {
    box-sizing: border-box;
}

*::before {
    box-sizing: border-box;
}

body {
    /*font: 14px/150% microsoft yahei,Tahoma,Arial;*/
    text-align: center;
    text-size-adjust: 100%;
    min-width: 320px;
    color: #232c45;
    margin: 0;
    padding: 0 0 20px 0;
}

a {
    outline: none;
    color: #00a4ff;
    text-decoration: none;
    transition: 0.2s;
}

a:hover {
    color: #ee4063;
}

::-webkit-scrollbar { /*Chrome适用*/
    width: 10px;
    height: 1px;
}

::-webkit-scrollbar-thumb { /*滚动条*/
    border-radius: 10px;
    background: #959da9;
}

::-webkit-scrollbar-track { /*滚动条里面轨道*/
    border-radius: 10px;
    background: #dce1e6;
    opacity: 0.7;
}

img {
    border: none
}

input, select, textarea {
    font-family: microsoft yahei, Helvetica, Tahoma, Arial, sans-serif;
    outline: none;
    border: none;
    background: #e9eef2;
}

.fleft {
    float: left
}

.fright {
    float: right
}

.clear {
    clear: both
}

.Col3 {
    width: 33%;
}

.Top {
    background: #2b303b;
    height: 48px;
}

.Line {
    background: rgba(120, 130, 150, .15);
    height: 1px;
    margin: 5px;
}

.Logo {
    background: url(../img/txnav/logo_ued.svg) no-repeat;
    width: 100px;
    height: 24px;
    margin: 12px;
    float: left
}

.NavMenu { /*所有产品*/
    background: url(../img/txnav/ico_menu.svg) #121212 no-repeat center;
    width: 48px;
    height: 48px;
    float: left;
}

.NavMenu:hover {
    background-color: #FF7800
}

.NavMenu .SubMenu { /*子菜单*/
    border-right: 1px solid rgba(120, 130, 150, .2);
    width: 210px;
    background: #ECEDEF;
    position: absolute;
    top: 48px;
    bottom: 0;
    left: -210px;
    animation: fadeIn 0.2s;
    transition: 0.2s;
}

.NavMenu:hover .SubMenu {
    left: 0;
    top: 48px;
    transition: 0.2s;
    z-index: 10;
}

.NavMenu:hover .SubMenu:before,
.NavMenu:hover .SubMenu ul:before { /*加大甜区*/
    content: "";
    position: absolute;
    width: 100%;
    left: 210px;
    bottom: 0;
    top: 0;
}

.NavMenu .SubMenu ul {
    padding: 20px 0 0 0;
}

.NavMenu .SubMenu li {
    border-bottom: 1px solid rgba(120, 130, 150, .15);
    line-height: 36px;
    text-align: left;
    padding: 0 32px 0 20px;
    list-style: none
}

.NavMenu .SubMenu li:first-child {
    border-top: 1px solid rgba(120, 130, 150, .15);
}

.NavMenu .SubMenu .arrow {
    background: url(../img/txnav/ico_arrow.svg) center right 10px no-repeat;
    background-size: 14px;
    transition: 0.2s
}

.NavMenu .arrow:hover {
    background-position: center right 5px !important;
}

.NavMenu .SubMenu a {
    color: #232c45;
    width: 100%;
    height: 100%;
    display: block;
}

.NavMenu .SubMenu li:hover {
    background-color: rgba(120, 130, 150, .2);
}

.NavMenu .SubMenu li a:hover {
    color: #232c45;
}

.NavMenu .SubMenu li ul { /*二级菜单*/
    border-right: 1px solid rgba(120, 130, 150, .2);
    box-shadow: 0 0 10px rgba(120, 130, 150, .1);
    background: #F6F7F8;
    top: 0;
    bottom: 0;
    left: 210px;
    width: 210px;
    position: absolute;
    display: none;
    transition: 0.2s
}

.NavMenu .SubMenu li:hover ul {
    animation: fadeIn2 0.2s;
    display: block
}

.NavMenu .SubMenu .PopMenu {
    width: 840px;
    left: 210px;
    bottom: 0;
    top: 0;
    padding: 10px;
    position: absolute;
    border-right: 1px solid rgba(120, 130, 150, .2);
    background: #FFF;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    display: none
}

.NavMenu .SubMenu .M {
    width: 360px;
}

.NavMenu li li:hover .PopMenu {
    display: block;
}

.NavMenu .SubMenu .PopMenu ul {
    background: none;
    border: none;
    box-shadow: none;
    position: relative;
    left: 0;
}

.NavMenu .SubMenu .PopMenu a {
    line-height: 32px;
    height: 32px;
    text-indent: 2em
}

.NavMenu .SubMenu .PopMenu a:hover {
    color: #FF7800
}

.NavMenu .PopMenu .Search {
    background: url(../img/txnav/ico_zoom.svg) no-repeat 5px center #FFF;
    background-size: 22px;
    border-radius: 6px;
    border: 1px solid rgba(120, 130, 150, .5);
    padding: 0 0 0 32px;
    margin: 5px;
    height: 32px;
    width: 570px;
}

.NavMenu .QuickMenu {
    width: 210px;
    float: right;
}

.NavMenu .QuickMenu a:hover {
    border-left: 5px solid #FF7800;
    background: rgba(255, 120, 0, .1)
}

.NavMenu .PopMenuList {
    border-right: 1px solid rgba(120, 130, 150, .1);
    position: absolute;
    left: 10px;
    right: 230px;
    top: 60px;
    bottom: 10px;
    overflow: auto;
}

.NavMenu .M .PopMenuList {
    border: none;
    right: 10px;
    top: 10px;
}

.NavMenu .PopMenuList h4 {
    border-bottom: 1px solid rgba(120, 130, 150, .2);
    margin: 0 10px;
    padding: 0 0 0 16px;
    position: relative
}

.NavMenu .PopMenuList h4:before {
    content: "";
    width: 8px;
    height: 8px;
    position: absolute;
    left: 0;
    top: 14px;
    border-radius: 50%;
    background: #00a4ff
}

.UserInfo {
    float: right;
    padding: 4px 30px 0 10px;
    min-width: 140px
}

.UserInfo:after {
    content: "";
    position: absolute;
    right: 10px;
    top: 20px;
    background: url(../img/txnav/ico_arrow.svg) no-repeat;
    transform: rotate(90deg);
    width: 14px;
    height: 14px;
}

.Face {
    line-height: 40px;
    padding: 4px;
    text-align: left;
    color: #FFF
}

.Face img {
    width: 40px;
    height: 40px;
    float: left;
    margin: 0 5px 0 0;
    border-radius: 50%;
    border: 1px solid rgba(120, 130, 150, .1)
}

.ShowMenu {
    position: relative;
}

.ShowMenu:hover .MenuSelect {
    animation: fadeInX 0.2s;
    top: 44px;
    display: block
}

.MenuSelect {
    background: rgba(255, 255, 255, .8);
    backdrop-filter: saturate(180%) blur(20px);
    -webkit-backdrop-filter: saturate(180%) blur(20px);
    min-width: 130px;
    border-radius: 6px;
    padding: 10px 0;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.3);
    text-align: center;
    float: right;
    position: absolute;
    z-index: 1;
    display: none
}

.MenuSelect a {
    line-height: 32px;
    font-weight: normal;
    color: rgba(120, 130, 150, .9);
    display: block
}

.MenuSelect a:hover {
    background-color: rgba(120, 130, 150, .25);
    color: #00a4ff;
}

.TopSearch {
    background: url(../img/txnav/ico_search.svg) no-repeat center;
    color: #FFF;
    transition: 0.2s;
}

.TopSearch:hover {
    background-color: rgba(120, 130, 150, .3);
    background-position: 12px center;
    background-size: 24px 24px;
    padding: 0 10px 0 44px;
    width: 200px;
}

.TopSearch::-webkit-input-placeholder {
    color: rgba(255, 255, 255, 0)
}

.TopSearch:hover::-webkit-input-placeholder {
    color: rgba(255, 255, 255, .2)
}

.TopSearch:-ms-input-placeholder {
    color: rgba(255, 255, 255, 0)
}

.TopSearch:hover::-webkit-input-placeholder {
    color: rgba(255, 255, 255, .2)
}

.TopIco {
    width: 48px;
    height: 48px;
    background-repeat: no-repeat;
    background-size: 24px;
    background-position: center;
    vertical-align: middle;
    float: left;
    opacity: 0.7
}

.TopIco:hover {
    background-color: rgba(120, 130, 150, .3);
    opacity: 1
}

.icoRing {
    background-image: url(../img/txnav/ico_ring.svg);
}

.icoFullScreen {
    background-image: url(../img/txnav/ico_fullscreen.svg);
}

.icoSkin {
    background-image: url(../img/txnav/ico_magic.svg);
}

.FadeIn { /*出现*/
    animation: fadeIn 0.2s;
}

@keyframes fadeIn {
    0% {
        transform: translate3d(-100%, 0, 0)
    }
    to {
        transform: none
    }
}

@keyframes fadeInX {
    0% {
        transform: translate3d(0, 10%, 0)
    }
    to {
        transform: none
    }
}

@keyframes fadeIn2 {
    50% {
        transform: translate3d(-10%, 0, 0);
    }
    to {
        transform: none;
    }
}

.toolBox {
    /*overflow:hidden;*/
}

.toolBox li {
    transition: all .4s;
    -moz-transition: all .4s;
    -webkit-transition: all .4s;
    -o-transition: all .4s;
}

.toolBox li:hover {
    transform: scale(1.1);

    background: -webkit-linear-gradient(top, #f0f0f0 0, #e3e3e3 100%);
    background: -moz-linear-gradient(top, #f0f0f0 0, #e3e3e3 100%);
    background: -o-linear-gradient(top, #f0f0f0 0, #e3e3e3 100%);
    background: linear-gradient(to bottom, #f0f0f0 0, #e3e3e3 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#f0f0f0, endColorstr=#e3e3e3, GradientType=0);
}
